{{ if eq .chezmoi.os "darwin" -}} # mac config
unbind C-b
set -g prefix C-a
{{ else if eq .chezmoi.hostname "joshuadewitt-desktop" -}} # workstation
unbind C-b
set -g prefix C-space
set -g status-style "bg=magenta,fg=white"
{{ else }}  # default, C-b, but colorize bar
set -g status-style "bg=cyan,fg=black"
{{ end }}

set-option -g allow-passthrough on
set-option -g mouse on
set-option -g set-titles on
set -g mode-keys vi

# Options: start indexes from 1
set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on  # keep numbering sequential

# copying
set -g @plugin 'tmux-plugins/yank'
set -as terminal-overrides ',*:clipboard:external'
set -as terminal-overrides ',*:allow-passthrough'
set -g allow-passthrough on
set -s set-clipboard on

# set -g @plugin 'tmux-plugins/tmux-sensible'

# creating new windows/panes
bind c new-window -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
bind '"' split-window -c "#{pane_current_path}"

set -g default-terminal "xterm-256color"
bind r source-file ~/.tmux.conf

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set -g @plugin 'pwittchen/tmux-plugin-spotify'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @continuum-restore 'on'

set -g status-left "#{prefix_highlight} [#S] "

run '~/.tmux/plugins/tpm/tpm'
