[general]
import = [
    ## colorschemes, only the last one is applied
    # "~/.config/alacritty/themes/themes/catppuccin_mocha.toml",
    # "~/.config/alacritty/themes/themes/ubuntu.toml",
    "~/.local/share/nvim/site/pack/core/opt/zenbones.nvim/extras/alacritty/duckbones_dark.toml",

    ## additional config
    "~/.config/alacritty/keybindings/tmux-nvim.toml",
    "~/.config/alacritty/keybindings/term-nav.toml"
]

[font]
size = {{ .font_size }}
{{- if eq .chezmoi.os "darwin" }}
normal.family = "MesloLGM Nerd Font Mono"
# normal.family = "DroidSansM Nerd Font Mono"
{{- else }}
normal.family = "MesloLGMNerdFontMono"
# normal.family = "DroidSansMNerdFontMono"
{{- end }}

[window]
option_as_alt = "Both"
{{- if eq .chezmoi.os "linux" }}
decorations = "none"
{{- end }}

[colors.cursor]
cursor = "#ffffff"
text = "#000000"
