[general]
import = [
    # "~/.config/alacritty/themes/themes/catppuccin_mocha.toml",
    "~/.config/alacritty/themes/themes/ubuntu.toml",
    "~/.config/alacritty/keybindings/tmux-nvim.toml",
    "~/.config/alacritty/keybindings/term-nav.toml"
]

[font]
size = {{ .font_size }}
{{- if eq .chezmoi.os "darwin" }}
normal.family = "MesloLGM Nerd Font Mono"
# normal.family = "DroidSansM Nerd Font Mono"
{{- else }}
normal.family = "MesloLGMNerdFontMono"
-# normal.family = "DroidSansMNerdFontMono"
{{- end }}

[window]
option_as_alt = "Both"

[colors.cursor]
cursor = "#ffffff"
text = "#000000"
